@charset "UTF-8";
@media (max-width: 767px) {
  .br-sp {
    display: none;
  }
}

/* ================================
reset.css
================================ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "TsukuARdGothic-Regular", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #333333;
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
a:hover {
  opacity: 0.5;
}

.section {
  padding: 30px 0 90px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  padding: 50px;
}
@media (max-width: 767px) {
  .title {
    font-size: 20px;
    padding: 20px;
  }
}

.inner {
  width: 850px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 850px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    width: 80%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* ================================
header
================================ */
.header {
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}
@media (min-width: 768px) and (max-width: 850px) {
  .header {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__bg {
  background: url(../img/hiroyoshi-urushima-D2dyWf0NImU-unsplash.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: inherit;
}

.header__contents {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__contents {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header__logo {
    padding-left: 30px;
  }
}
.header__logo img {
  width: 50%;
  padding-top: 12px;
}

#g-nav {
  padding-right: 30px;
}
@media (max-width: 767px) {
  #g-nav {
    position: absolute;
    right: 0;
  }
  #g-nav ul {
    opacity: 0;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 767px) {
  #g-nav.panelactive {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  #g-nav.panelactive #g-nav-list {
    display: block;
  }
  #g-nav.panelactive ul {
    opacity: 1;
  }
  #g-nav.panelactive ul li {
    -webkit-animation-name: gnaviAnime;
            animation-name: gnaviAnime;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    opacity: 0;
  }
}

#g-nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media (max-width: 767px) {
  #g-nav-list ul {
    display: block;
  }
}
@media (min-width: 850px) {
  #g-nav-list ul li:not(:first-child) {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  #g-nav-list ul li:not(:first-child) {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  #g-nav-list ul li {
    padding: 15px;
  }
}
#g-nav-list ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}
@media (max-width: 767px) {
  #g-nav-list {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 767px) {
  @-webkit-keyframes gnaviAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes gnaviAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (max-width: 767px) {
  .circle-bg {
    position: fixed;
    z-index: 3;
    width: 12px;
    height: 100px;
    border-radius: 50%;
    background: #E3CA7E;
    -webkit-transform: scale(0);
            transform: scale(0);
    right: -50px;
    top: -50px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
}

@media (max-width: 767px) {
  .circle-bg.circleactive {
    -webkit-transform: scale(50);
            transform: scale(50);
  }
}

@media (max-width: 767px) {
  .openbtn {
    position: relative;
    background: #E3CA7E;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    z-index: 9999;
  }
  .openbtn span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #000;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 13px;
  }
  .openbtn span:nth-of-type(2) {
    top: 19px;
  }
  .openbtn span:nth-of-type(3) {
    top: 25px;
  }
  .openbtn span:nth-of-type(3)::after {
    content: "Menu";
    position: absolute;
    top: 5px;
    left: -2px;
    color: #000;
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  .openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 26px;
    left: 18px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(3)::after {
    content: "Close";
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  }
}
/* ================================
firstView
================================ */
.firstView {
  height: 740px;
}
@media (max-width: 767px) {
  .firstView {
    height: 800px;
  }
}

@media (max-width: 767px) {
  .firstView__inner {
    margin: 32px auto;
    text-align: center;
  }
}

.firstView__img {
  position: relative;
  padding: 160px 0 53px;
}
.firstView__img::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 20px;
  width: 80%;
  height: 70%;
  background-image: radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%), radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  z-index: -1;
}
.firstView__img img {
  width: 80%;
}

.firstView__title {
  position: absolute;
  top: 66%;
  left: 59%;
  color: white;
  background-color: #333333;
  line-height: initial;
}
@media (max-width: 767px) {
  .firstView__title {
    left: 43%;
  }
}

/* ================================
works
================================ */
.works {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}

.works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .works__items {
    display: block;
  }
}

.works__item {
  width: calc(33.3% - 8px * 2 / 3);
  padding: 16px;
  margin: auto;
}
@media (max-width: 767px) {
  .works__item {
    width: 100%;
  }
}

.works__link {
  text-align: right;
  font-size: 20px;
}
@media (max-width: 767px) {
  .works__link {
    font-size: 15px;
  }
}
.works__link a {
  text-decoration: none;
  font-weight: 700;
  padding-right: 14px;
  position: relative;
}
.works__link a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
}

/* ================================
skill
================================ */
.skill__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 767px) {
  .skill__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.skill__item {
  margin: auto;
  padding: 16px;
}
@media (max-width: 767px) {
  .skill__item {
    width: calc(33.3% - 8px * 2 / 3);
    margin: auto;
  }
}

.skill__img h3 {
  text-align: center;
}
@media (max-width: 767px) {
  .skill__img h3 {
    font-size: 10px;
  }
}

/* ================================
service
================================ */
.services {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}

.services__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 767px) {
  .services__contents {
    display: block;
  }
}

.services__lead {
  margin: auto 0;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .services__lead {
    padding-left: 0;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .services__lead {
    padding: 0 10px;
    padding-left: 0;
  }
}
.services__lead p {
  border-bottom: solid 1px #333333;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .services__lead p {
    font-size: 13px;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .services__lead p {
    font-size: 16px;
  }
}

.services__button {
  padding-top: 20px;
  text-align: right;
}
@media (max-width: 767px) {
  .services__button {
    padding-top: 0;
  }
}
.services__button a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .services__button a {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .services__button a {
    font-size: 18px;
  }
}
.services__button a::after {
  content: "";
  position: absolute;
  right: -15%;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
}
@media (min-width: 768px) and (max-width: 850px) {
  .services__img {
    padding: 0 10px;
  }
}

/* ================================
contact
================================ */
.contact {
  text-align: center;
}

.contact__lead {
  padding-bottom: 30px;
}

.contact__img img {
  width: 25%;
}

/* ================================
footer
================================ */
.footer {
  background: url(../img/hiroyoshi-urushima-D2dyWf0NImU-unsplash.jpg) no-repeat center bottom/cover;
  text-align: center;
}

.footer__inner {
  padding: 0 10px;
}

#page_top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  height: 3rem;
  text-decoration: none;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 80%;
  line-height: 1.5rem;
  color: color(sub);
  padding: 0 0 0 35px;
  border-top: solid 1px;
}
#page_top:hover {
  color: color(main);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#page_top::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 1rem;
  border-top: solid 1px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
#page_top a {
  text-decoration: none;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .footer__content {
    display: block;
  }
}

.footer__about {
  background-color: #fff;
  border-radius: 8px;
  width: 45%;
}
@media (max-width: 767px) {
  .footer__about {
    width: 100%;
  }
}
.footer__about img {
  width: 35%;
  padding-top: 10px;
}
.footer__about p {
  font-size: 13px;
  padding: 0 30px;
  text-align: left;
}

.footer__link img {
  width: 7%;
  margin: 10px;
  padding: 10px 0;
}

.footer__twitter {
  width: 45%;
  margin: auto 0;
}
@media (max-width: 767px) {
  .footer__twitter {
    width: 100%;
    padding-top: 20px;
  }
}

.footer__copyright {
  color: #fff;
  font-size: 12px;
  padding-top: 20px;
}