@charset "UTF-8";
@media (max-width: 767px) {
  .br-sp {
    display: none;
  }
}

/* ================================
reset.css
================================ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "TsukuARdGothic-Regular", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #fff;
  color: #333333;
}
@media (max-width: 767px) {
  body {
    font-size: 0.75rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
a:hover {
  opacity: 0.5;
}

.section {
  padding: 10px 0 10px;
}
@media (max-width: 767px) {
  .section {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 767px) {
  .title {
    font-size: 30px;
    padding-top: 80px;
  }
}

.inner {
  width: 750px;
  max-width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 750px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (max-width: 767px) {
  .inner {
    width: 370px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

dl {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

dt {
  display: block;
}

/* ================================
header
================================ */
.header {
  height: 100px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}
@media (min-width: 768px) and (max-width: 750px) {
  .header {
    height: 70px;
  }
}
@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__bg {
  background: url(../img/hiroyoshi-urushima-D2dyWf0NImU-unsplash.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: inherit;
}

.header__contents {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__contents {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header__logo {
    padding-left: 30px;
  }
}
.header__logo img {
  width: 50%;
  padding-top: 12px;
}

#g-nav {
  padding-right: 30px;
}
@media (max-width: 767px) {
  #g-nav {
    position: absolute;
    right: 0;
  }
  #g-nav ul {
    opacity: 0;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 767px) {
  #g-nav.panelactive {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 100vh;
  }
  #g-nav.panelactive #g-nav-list {
    display: block;
  }
  #g-nav.panelactive ul {
    opacity: 1;
  }
  #g-nav.panelactive ul li {
    -webkit-animation-name: gnaviAnime;
            animation-name: gnaviAnime;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    opacity: 0;
  }
}

#g-nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
@media (max-width: 767px) {
  #g-nav-list ul {
    display: block;
  }
}
@media (min-width: 750px) {
  #g-nav-list ul li:not(:first-child) {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 750px) {
  #g-nav-list ul li:not(:first-child) {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  #g-nav-list ul li {
    padding: 15px;
  }
}
#g-nav-list ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  position: relative;
}
@media (max-width: 767px) {
  #g-nav-list {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 767px) {
  @-webkit-keyframes gnaviAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes gnaviAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (max-width: 767px) {
  .circle-bg {
    position: fixed;
    z-index: 3;
    width: 14px;
    height: 100px;
    background: #E3CA7E;
    -webkit-transform: scale(0);
            transform: scale(0);
    right: -50px;
    top: -50px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
}

@media (max-width: 767px) {
  .circle-bg.circleactive {
    -webkit-transform: scale(50);
            transform: scale(50);
  }
}

@media (max-width: 767px) {
  .openbtn {
    position: relative;
    background: #E3CA7E;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    z-index: 9999;
  }
  .openbtn span {
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
    background: #000;
    width: 45%;
  }
  .openbtn span:nth-of-type(1) {
    top: 13px;
  }
  .openbtn span:nth-of-type(2) {
    top: 19px;
  }
  .openbtn span:nth-of-type(3) {
    top: 25px;
  }
  .openbtn span:nth-of-type(3)::after {
    content: "Menu";
    position: absolute;
    top: 5px;
    left: -2px;
    color: #000;
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  .openbtn.active {
    position: relative;
    top: 5px;
    left: 85%;
  }
  .openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  .openbtn.active span:nth-of-type(3) {
    top: 26px;
    left: 18px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  .openbtn.active span:nth-of-type(3)::after {
    content: "Close";
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  }
}
/* ================================
main
================================ */
.main {
  text-align: center;
}
@media (max-width: 767px) {
  .main {
    padding-bottom: 0;
  }
}

.main__subtitle {
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .main__subtitle {
    padding-bottom: 25px;
  }
}

.main__img {
  width: 80%;
  margin: auto;
}

/* ================================
about
================================ */
@media (max-width: 767px) {
  .about {
    padding-top: 0;
  }
}

.about__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about__item {
  width: 20%;
  margin-top: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.375rem 0.25rem;
  text-align: center;
  border-left: 5px solid #a1b9a0;
  background: #f5f5f5;
}

.about__txt {
  width: 80%;
  margin-top: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.375rem 0.25rem;
}

.about__link {
  width: 100%;
  text-align: center;
  background-color: #e3ca7f;
  padding: 0.25rem;
  margin: 2rem auto 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* ================================
workspage
================================ */
@media (max-width: 767px) {
  .workspage {
    padding: 0;
  }
}

.workspage__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3.5rem auto 0;
  text-align: center;
}
.workspage__title h3 {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}
.workspage__title::after {
  border-top: 1px solid;
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1.5rem;
}

.workspage__txt {
  width: 90%;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  margin-left: auto;
  margin-top: 1rem;
}

/* ================================
footer
================================ */
.footer {
  width: 100%;
  height: 5.5rem;
  background-color: #a1b9a0;
  color: #fff;
  margin-top: 5rem;
  font-size: 12px;
}

#page_top {
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  height: 3rem;
  text-decoration: none;
  font-weight: bold;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 80%;
  line-height: 1.5rem;
  color: color(sub);
  padding: 0 0 0 35px;
  border-top: solid 1px;
}
#page_top:hover {
  color: color(main);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
#page_top::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 1rem;
  border-top: solid 1px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
#page_top a {
  text-decoration: none;
}

.footer__copyright {
  text-align: center;
  padding: 1rem;
}